.banner-hero{
    @include flexbox(center, center);
    height: calc(100vh - 60px);

    &-header{
        background: rgba(27, 39, 49, 0.6);
        border-radius: $border-radius;
        padding: 0.6em 1em;
        border: 1px solid $grey;
        box-shadow: $box-shadow-card;
        --webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);

        h1{
            color: $white;
        }
    }
}

.article-sidebar{
    &-tags{
        @include flexbox(flex-start, center, 0.5em);
        span{
            font-size: 1.1em;
        }
    }
}