{% extends "base.html.twig" %}

{% block title %}
	{{article.title}}
	{{parent()}}
{% endblock %}

{% block body %}
	{% if article.images|length > 1 %}
		{% include "Frontend/Articles/Banner/_slider.html.twig" %}
	{% elseif article.images|length > 0 %}
		{% include "Frontend/Articles/Banner/_banner.html.twig" %}
	{% else %}
		{% include "Frontend/Articles/Banner/_title.html.twig" %}
	{% endif %}

	<section class="container mt-4">
		<div class="row">
			{% include "Frontend/Articles/_sidebar.html.twig" %}
			{% include "Frontend/Articles/_content.html.twig" %}
		</div>
	</section>
{% endblock %}
