<section class="banner-hero" style="background: center / cover url('{{ vich_uploader_asset(article.images|first) }}')">
	<div class="banner-hero-header">
		<h1 class="banner-hero-title">{{article.title}}</h1>
	</div>
</section>
